.game{
    padding: 5rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.mainContent{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 3rem;
}

.gameTitle{
    text-align: center;
}
